.box{
    background-color: #747474;
    width: min(30vw);
    height: min(50vw, 50vh);
    border-radius: 2vw;
    flex-shrink: 0;
    color: lightgray;
    text-align: center;
    margin: 1%;
}

@media only screen and (max-width: 900px) {
    .box {
    background-color: #747474;
    width: min(70vw, 70vh);
    height: min(40vw, 40vh);
    border-radius: 3vw;
    flex-shrink: 0;
    margin: 2%;

    }
  }