
.text-box{
    margin: 5%;
}
.title{
    font-family: "Futura-Medium";
    margin-bottom: 0%;
}

.subtitle{
    font-family: "Futura-Medium-Italic";
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

.body-text{
    font-family: "Futura-Medium-Italic";
    font-size: 1.2rem;
}
.video{
    width: 50vw;
    height: 28vw;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
}