* {
    box-sizing: border-box;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    background-color: #747474;
    color: black;
    border-radius: 3vw;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    flex-shrink: 0;
  }

  .custom-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    background-color: black;
    color: black;
    border-radius: 3vw;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    flex-shrink: 0;
  }